*{
    margin: 0;
    padding: 0;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
    /* color: #fff; */
}
#main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    /* transition: all linear 0.1s; */
    /* top: 50%;
    left: 50%; */
}
h1{
    font-size: 20vw;
    font-weight: 900;

}